/.idea/
*.iml
target/ 
.DS_Store 
/pangea-parent/pangea-test/src/test/resources/jar/
/pangea-parent/pangea-test/src/test/resources/xml/
/pangea-parent/pangea-test/target/
/pangea-parent/pangea-view/target/
c:/

/pangea-parent/pangea-test/*.tsv
